<?xml version="1.0" encoding="utf-8" ?>
<Defs>

	<RimWorldColumns.RWCSettingsDef>
		<defName>ColumnSettings</defName>
		<columnsForRoomRequirement>
			<li>LightColumnMod</li>
			<li>DarkColumnMod</li>
			<li>OrbitalTradeColumnMod</li>
			<li>SunColumnMod</li>
			<li>IceColumnMod</li>
			<li>DetColumnMod</li>
			<li>FlameColumnMod</li>
			<li>GraveColumnMod</li>
		</columnsForRoomRequirement>
		<repairEffecter>Repair</repairEffecter>
		<repairColumnRange>7.9</repairColumnRange>
		<repairPercent>0.01</repairPercent>
		<repairIntervalSeconds>1.2</repairIntervalSeconds>
	</RimWorldColumns.RWCSettingsDef>

</Defs>